/*Universal*/
html {
  font-size: 14px;
  font-family: Helvetica;
  letter-spacing: 0.025rem;
  max-width: 1250px;
  margin: auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  line-height: 2.5rem;
  }

h2 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.75rem;
}

p {
  line-height: 1.5rem;
  margin-top: 8px;
}

.container,
.text,
.columns,
.left,
.right {
  display: flex;
}

.text {
  flex-direction: column;
}

.left {
  width: 60%;
  margin: 32px 24px;
}

.right {
  width: 40%;
}

@media only screen and (max-width: 480px) {
  html {
    max-width: 400px;
  }
}

/*Panels*/
.left {
  flex-direction: column;
}

.left img {
  width: 100%;
  margin-bottom: 32px;
}

.left .text h1 {
  margin-bottom: 24px;
}

.side-panel.right {
  margin: 32px 0;
  flex-direction: column;
}

.panel-cell .text {
  margin: 0 24px;
}

.panel-cell.container {
  flex-direction: row;
  align-items: center;
}

.panel-cell img {
  width: 35%;
  margin: 16px;
}

.panel-cell h2,
.panel-cell p {
  margin: 8px 0;
}

#top img {
  margin-top: 0px;
}
/*Header*/
ul {
display: flex;
}

.header {
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.navigation {
  align-items: center;
}

.navigation ul {
  flex-direction: row;
  margin-right: 24px;
}

.navigation li {
  margin: 8px;
}

.navigation li:hover {
  color: steelblue;
  font-weight: bold;
  transition-duration: 0.2s;
}

.icons.container {
  align-items: center;
  margin-left: 24px;
  height: 32px;
}

.icons p {
  text-transform: uppercase;
  margin: 0;
}

#bold {
  font-weight: 600;
}

#grey {
  color: grey;
  font-weight: 100;
}

@media only screen and (min-width: 480px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .navigation,
  .icons p {
    display: none;
  }

  .icons.container {
    margin: 24px;
    width: 100%;
    justify-content: space-between;
  }
}

/*Banner*/
.banner {
  display: flex;
  background-color: rgb(224,224,224);
}

.banner .left img {
  width: 100%;
}

.banner .right .text {
  justify-content: center;
  margin: 24px;
  width: 60%;
}

#quote {
  margin-top: 32px;
}

.banner .text h1,
.banner .text h2 {
  margin: 15px 0;
}

.cta {
  display: flex;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  color: rgb(224,224,224);
  padding: 8px 0;
  margin: 15px 0;
  width: 85%;
}

.cta:hover {
  background-color: steelblue;
  transition-duration:0.25s;
}

@media only screen and (max-width: 480px) {
  .banner.container {
    flex-direction: column;
  }

  .banner .left,
  .banner .right {
    width: 100%;
    margin: 0;
  }

  .banner .right .text {
    width: 100%;
    margin: 32px 16px;
  }

  .cta {
    width: 100%;
    background-color: rgb(140,140,140);
    color: white;
    font-weight: bold;
  }

  .banner .left img {
    margin: 0;
  }
}

/*Overview*/
.panel-cell a {
  color: steelblue;
}

.overview .right {
  border-left: 1px solid rgb(224,224,224);
}

.overview #top {
  border-bottom: 1px solid rgb(224, 224, 224);
}

#campus {
  margin-top: 2px;
  border-top: 1px solid rgb(224,224,224);
}

#guest {
  background-color: rgb(224,224,224);
}

@media only screen and (max-width: 480px) {
  .overview .left {
    display: none;
  }

  .overview .right {
    width: 100%;
    margin: 16px;
    margin-bottom: 32px;
    border: 0;
  }

  .overview .panel-cell.container {
    flex-direction: column;
    margin: 0;
    margin-bottom: 64px;
  }

  .overview #top,
  #campus {
    border: 0;
  }

  .overview .panel-cell img {
    width: 100%;
    margin: 0px;
    margin-bottom: 16px;
  }

  .overview .panel-cell {
    align-items: flex-start;
  }

  .overview .panel-cell .text {
    margin: 0px;
  }

  #guest {
    background-color: inherit;
    margin-bottom: 0;
  }
}

/*Courses*/
.start-learning {
  align-items: center;
  flex-direction: column;
  background-color: rgb(224,224,224);
  width: 100%
}

.start-learning h1 {
  margin: 32px 0;
}

.topics.container {
  flex-direction: column;
  justify-content: center;
  margin: 0 72px;
  flex-flow: wrap;
}

.course.container {
  flex-direction: column;
  background-color: white;
  margin-bottom: 32px;
  margin-right: 32px;
  width: 30%;
}

#end {
  margin-right: 0px;
}

.course .text {
  margin: 16px;
  margin-bottom: 24px;
}

@media only screen and (max-width: 480px) {
  .start-learning {
    background-color: inherit;
  }

  .start-learning h1 {
    margin: 0;
    margin-top: 32px;
  }

  .course .text p,
  .course img {
    display: none;
  }

  .topics.container {
    margin: 16px;
    margin-bottom: 24px;
  }

  .course.container {
    margin: 0;
    margin-bottom: 8px;
    background-color: rgb(224, 224, 224);
    width: 100%;
  }

  .course .text {
    margin: 24px 16px;
    width: 100%;
  }
}

/*Exhibit*/
.thesis.container {
  flex-direction: column;
  justify-content: center;
}

.thesis h1 {
  margin: auto;
  margin-top: 32px;
}

.thesis-content {
  margin-top: 0px;
}

.thesis-content .left .text {
  margin-top: 24px;
}

.thesis-content #top {
  padding-top: 16px;
  background-color: rgb(224,224,224);
}

.thesis {
  border-bottom: 1px solid rgb(224,224,224);
}

@media only screen and (max-width: 480px) {
  .thesis-content .right {
    display: none;
  }

  .thesis-content .left {
    padding: 0px;
    width: 100%;
    margin: 0px;
  }

  video {
    width: 100%;
    height: 230px;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .thesis-content .left .text {
    display: none;
  }
}

/*Footer*/
.footer {
  margin: 16px 24px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.legal span {
  margin-left: 10px;
}

@media only screen and (max-width: 480px) {
  .legal {
    display: none;
    margin: 16px 0;
  }
}
